*{margin:0px;padding:0px}
body{background-color:#FAFAFA;background:url('/images/bk.jpg');width: 1650px;
	min-height: 900px;
	max-height: 900px;
	overflow: hidden;
	position: relative; }
#main-index{margin:20px auto;width:1180px}
#content{}
.page{
display:inline-block;box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);word-spacing: 0;
width: 148mm;
height: 210mm;
position: relative;
font-size: 14px;
padding-top: 42px;
padding-bottom: 52px;
font-family: "Times New Roman",Times,"SongTi SC",FZShuSong-Z01,FZShuSong,Simsun,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Segoe UI Symbol","Android Emoji",EmojiSymbols,serif;
background-color: #fff;
overflow: hidden;
outline: 0;
text-align: center;
vertical-align: top;
	-webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}
.page svg {
	width: 83%;
	height: 100%;
	position: static;
}
.page .label {
position: absolute;
color: #fff;
fill: #CA5858;
	fill:  #FF66FF;
padding: 0;
font-family: "San Francisco",Roboto,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Microsoft YaHei",SimHei,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Segoe UI Symbol","Android Emoji",EmojiSymbols,sans-serif;
}
.label .date {
	font-size: 1.5em;
	color: #CA5858;
	color:  #FF66FF ;
}
.page .image.loaded {
	background-size: contain;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	/* overflow: hidden; */
	position: absolute;
	z-index: 5;
}

.page:nth-child(odd) {
	background-image: url(https://static.xinshu.me/assets/images/footers/ufo/left.png);
}

.label .date {
	font-size: 1.5em;
	color: #CA5858;
}
.label .time {
	background-color: #CA5858;
	line-height: 20px;
}
 .label .time {
	font-weight: 200;
	 font-size:12px;
}
 .page text {
	cursor: pointer;
}
